<div id="quiz-container">
  <div class="target-container">
    <img class="target-icon"
      ng-src="{{$ctrl.data.target.icon}}">
  </div>

  <div class="answers-container">
    <img class="answer-icon"
      ng-repeat="req in $ctrl.data.answers track by $index"
      ng-src="{{req.icon}}"
      ng-click="$ctrl.unselect($index)">
  </div>

  <div class="choices-container">
    <img class="choice-icon"
      ng-repeat="choice in $ctrl.data.choices"
      ng-src="{{choice.icon}}"
      ng-click="$ctrl.select(choice)"
      ng-class="{disabled: choice.selected}"
      alt="{{choice.name}}">
  </div>

  <div class="score-continer">
    <stats></stats>
  </div>
</div>
