#quiz-container {
  margin: auto;
  margin-top: 100px;
  width: 664px;
  height: 362px;
  background: url("../images/background.png") top left no-repeat;
  box-shadow: 0 0 64px #000;
}

.answer-icon,
.target-icon,
.choice-icon {
  width: 50px;
  height: 38px;
}

.target-container,
.answers-container,
.choices-container,
.stats-container {
  margin-bottom: 8px;
  padding: 2px;
  text-align: center;

  > img {
    margin-right: 8px;
    border-top: 1px solid #666;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    border-left: 1px solid #666;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px black;
  }

  > img:not(.disabled):hover {
    border-top: 1px solid #999;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
    border-left: 1px solid #999;
  }

  > img:last-child {
    margin-right: 0;
  }
}

img.disabled {
  opacity: 0.25 !important;
}

.target-container {
  padding-top: 50px;
}

.stats-container {
  padding-top: 20px;
}
